.bg-1 {
    background-color: #666;
    color: #fefefe;
    font-family: Pacifico;
    /*height: 100vh;*/
}
h1 {
    font-size: 60px;

}
p{
    font-size: 15px;
}

.bg-2 {
    font-family: Raleway;
}
.btn-default {
    border-color: white;
    color: white;
    background-color: transparent;
}

.btn-default:hover {
    transition-duration: 400ms;
    background-color: #fefefe;
    border-color: #555;
    color: #666;
}