body {
    background-image: url(darkbg.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
.myTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    color: white;
    font-family: Pacifico;
}
h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
p{
    font-size: 20px;
    text-align: center;
}
button {
    position: absolute;
    left: 36%;
}
.btn-default {
    border-color: white;
    color: white;
    background-color: transparent;
}

.btn-default:hover {
    transition-duration: 400ms;
    background-color: white;
    border-color: black;
    color: black;
}